img {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-top: 50px;
  
  
}

input {
  border-style: none;
  box-shadow: 0px .3px 5px rgba(0, 0, 0, .4 );
  border-radius: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 500px;
  font-size: 16px;
  margin-top: 20px;
  padding-left: 20px;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
}
